# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna.log*

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
*.log*
debug.log*

# Dependency directories
jspm_packages/
bower_components/

# System files
.DS_Store
Thumbs.db

# Optional files
coverage/
*.orig
*.rej
*.swp
.vscode/
.idea/

/dist
